<div class="panel">
    <!-- <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let column of datatable.columns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of datatable.rows">
                <td *ngFor="let cell of row">{{cell}}</td>
            </tr>
        </tbody>
    </table> -->

    <ag-grid-angular style="width: 500px; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>